    version: '3.8'
    services:
      db:
        image: postgres:latest
        restart: always
        environment:
          POSTGRES_DB: change_name_db
          POSTGRES_USER: change_name_user
          POSTGRES_PASSWORD: change_password
        ports:
          - "5432:5432"
        volumes:
          - pgdata:/var/lib/postgresql/data

    volumes:
      pgdata: